
/* form */
.form {
  flex-grow: 1;
}

.entry-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  gap: 15px;
}

.input-head{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.input-title {
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
  outline: none;
  border-width: 1px;
  border-color: var(--primary-color-alpha);
  border-radius: var(--input-raidus);
  padding: 4px 8px;
}
.input-date {
  width: 100%;
  font-size: 1rem;
  padding: 4px 8px;
  border-width: 1px;
  border-color: var(--primary-color-alpha);
  border-radius: var(--input-raidus);
}
.input-textarea {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  padding: 15px;
  color: black;

  border-radius: var(--input-raidus);
  border-color: #00000060;

  flex-grow: 1;
  resize: none;
  outline: none;
  font-family: sans-serif;
  font-size: 1rem;
}
.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  margin: 0 auto;
}
.form-edit {
  height: 100%;
  flex-grow: 1;
}
.form-edit .entry-form {
  height: 100%;
}

.form-create{
  flex-grow: 1;
}

.form-desc-edit {
  flex-grow: 1;
}
#btn-cancel[disabled] .secondary-button{
  background-color: var(--primary-color-alpha);
}
@media only screen and (min-width: 768px) {
  .entry-form {
    display: flex;

    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .input-head{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  .input-title {
    width: 70%;
  }
  .input-date {
    width: 30%;
  }
  .form-buttons {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}